
    <div class="card mt-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-auto text-center">
            <img src="https://www.coindesk.com/resizer/KbQl1yT4ukpTjeBzgVGnjUXkr3I=/1056x704/filters:quality(80):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/coindesk/HJRDZ235IRDARDEMRJEEOA45WA.jpg" style="max-width: 400px;"
                 class="w-100 mb-5 my-md-3">
          </div>
          <div class="col-md d-flex align-items-center">
            <div class="pe-0 pe-md-4">
              <small class="text-uppercase text-muted">ICO the fisrt token</small>
              <h2 class="mb-4">Token name: MTK01</h2>
              <p class="mb-4"></p>
              <div class="mb-4">
                <a (click)= "openMetaMask(1)"
                   class="btn btn-success mb-1">
                 {{title}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Buy by BNB</div>
      <div class="card-body">
        <div class="row">
          <div class="col col-md-12 col-lg-3"  *ngFor="let token of tokens">
            <div class="card" style="padding: 20px;">
              <div class="css-sq0hr0">
                <img alt="bnb" src="{{token.image}}" class="img-thumbnail">
              </div>
              <p class="fw-bold" style="padding-top: 10px;">{{token.Name}}</p>
              <button type="button" class="btn btn-info">{{token.volume}} MTK01</button>
              <div class="figure-caption"><p class="fw-bold fs-6 text-md-start" style="padding-top: 10px;">Amount of coins to pay: <span>{{token.volume/bnbRate}} BNB</span></p></div>
              <button type="button" class="btn btn-success">Buy Now</button>
            </div>
          </div>
      </div>
    </div>
    </div>
  